# Part One
## Web Scraping and Data Cleaning

I known you can read the url directly from Pandas, but let's practice using Beautiful Soup. We'll use requests to get the html code from the url, then use Beatuiful Soup to find the table on the page. We'll then pass that table to pandas to make a dataframe

In [1]:
# import dependencies
from bs4 import BeautifulSoup
from pprint import pprint
import requests
import pandas as pd
import numpy as np

In [2]:
# define function to get html info using requests
def get_html(url):
    '''url and returns a beautiful soup object for that webpage'''
    r = requests.get(url)
    doc = r.content
    soup = BeautifulSoup(doc, 'lxml')
    return soup

In [3]:
# call function to 
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [4]:
# read html into bs object
soup = get_html(url)
# print(soup.prettify())

In [5]:
# get just the table on the wikipedia page
table = soup.find('table')
print(table.prettify())

<table class="wikitable sortable">
 <tbody>
  <tr>
   <th>
    Postcode
   </th>
   <th>
    Borough
   </th>
   <th>
    Neighbourhood
   </th>
  </tr>
  <tr>
   <td>
    M1A
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M2A
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M3A
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    <a href="/wiki/Parkwoods" title="Parkwoods">
     Parkwoods
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M4A
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    <a href="/wiki/Victoria_Village" title="Victoria Village">
     Victoria Village
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M5A
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    <a href="/wiki/Regent_Park" title="Regent Park">
     Harbourfront
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M6A
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    <a href="/wiki/Lawrence_Heights" title="Lawrence Heights">
     Lawrence Heights
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M6A
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    <a href="/wiki/Lawrence_Manor" title="Lawrence Manor">
     Lawrence Manor
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M7A
   </td>
   <td>
    <a href="/wiki/Queen%27s_Park_(Toronto)" title="Queen's Park (Toronto)">
     Queen's Park
    </a>
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M8A
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M9A
   </td>
   <td>
    <a class="mw-disambig" href="/wiki/Queen%27s_Park" title="Queen's Park">
     Queen's Park
    </a>
   </td>
   <td>
    <a class="mw-disambig" href="/wiki/Queen%27s_Park" title="Queen's Park">
     Queen's Park
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M1B
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    <a href="/wiki/Rouge,_Toronto" title="Rouge, Toronto">
     Rouge
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M1B
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    <a href="/wiki/Malvern,_Toronto" title="Malvern, Toronto">
     Malvern
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M2B
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M3B
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    Don Mills North
   </td>
  </tr>
  <tr>
   <td>
    M4B
   </td>
   <td>
    <a href="/wiki/East_York" title="East York">
     East York
    </a>
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Woodbine_Gardens" title="Woodbine Gardens">
     Woodbine Gardens
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M4B
   </td>
   <td>
    <a href="/wiki/East_York" title="East York">
     East York
    </a>
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Parkview_Hill" title="Parkview Hill">
     Parkview Hill
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M5B
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    Ryerson
   </td>
  </tr>
  <tr>
   <td>
    M5B
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    Garden District
   </td>
  </tr>
  <tr>
   <td>
    M6B
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    Glencairn
   </td>
  </tr>
  <tr>
   <td>
    M7B
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M8B
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M9B
   </td>
   <td>
    <a href="/wiki/Etobicoke" title="Etobicoke">
     Etobicoke
    </a>
   </td>
   <td>
    Cloverdale
   </td>
  </tr>
  <tr>
   <td>
    M9B
   </td>
   <td>
    <a href="/wiki/Etobicoke" title="Etobicoke">
     Etobicoke
    </a>
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Islington,_Toronto" title="Islington, Toronto">
     Islington
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M9B
   </td>
   <td>
    <a href="/wiki/Etobicoke" title="Etobicoke">
     Etobicoke
    </a>
   </td>
   <td>
    Martin Grove
   </td>
  </tr>
  <tr>
   <td>
    M9B
   </td>
   <td>
    <a href="/wiki/Etobicoke" title="Etobicoke">
     Etobicoke
    </a>
   </td>
   <td>
    <a href="/wiki/Princess_Gardens" title="Princess Gardens">
     Princess Gardens
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M9B
   </td>
   <td>
    <a href="/wiki/Etobicoke" title="Etobicoke">
     Etobicoke
    </a>
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/West_Deane_Park" title="West Deane Park">
     West Deane Park
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M1C
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    <a href="/wiki/Highland_Creek_(Toronto)" title="Highland Creek (Toronto)">
     Highland Creek
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M1C
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Rouge_Hill" title="Rouge Hill">
     Rouge Hill
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M1C
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    <a href="/wiki/Port_Union,_Toronto" title="Port Union, Toronto">
     Port Union
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M2C
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M3C
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    <a href="/wiki/Flemingdon_Park" title="Flemingdon Park">
     Flemingdon Park
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M3C
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    Don Mills South
   </td>
  </tr>
  <tr>
   <td>
    M4C
   </td>
   <td>
    <a href="/wiki/East_York" title="East York">
     East York
    </a>
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Woodbine_Heights" title="Woodbine Heights">
     Woodbine Heights
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M5C
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    <a href="/wiki/St._James_Town" title="St. James Town">
     St. James Town
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M6C
   </td>
   <td>
    York
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Humewood-Cedarvale" title="Humewood-Cedarvale">
     Humewood-Cedarvale
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M7C
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M8C
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M9C
   </td>
   <td>
    <a href="/wiki/Etobicoke" title="Etobicoke">
     Etobicoke
    </a>
   </td>
   <td>
    Bloordale Gardens
   </td>
  </tr>
  <tr>
   <td>
    M9C
   </td>
   <td>
    <a href="/wiki/Etobicoke" title="Etobicoke">
     Etobicoke
    </a>
   </td>
   <td>
    Eringate
   </td>
  </tr>
  <tr>
   <td>
    M9C
   </td>
   <td>
    <a href="/wiki/Etobicoke" title="Etobicoke">
     Etobicoke
    </a>
   </td>
   <td>
    <a href="/wiki/Markland_Wood" title="Markland Wood">
     Markland Wood
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M9C
   </td>
   <td>
    <a href="/wiki/Etobicoke" title="Etobicoke">
     Etobicoke
    </a>
   </td>
   <td>
    Old Burnhamthorpe
   </td>
  </tr>
  <tr>
   <td>
    M1E
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    Guildwood
   </td>
  </tr>
  <tr>
   <td>
    M1E
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    <a href="/wiki/Morningside,_Toronto" title="Morningside, Toronto">
     Morningside
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M1E
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    <a href="/wiki/West_Hill,_Toronto" title="West Hill, Toronto">
     West Hill
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M2E
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M3E
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M4E
   </td>
   <td>
    <a href="/wiki/East_Toronto" title="East Toronto">
     East Toronto
    </a>
   </td>
   <td>
    <a href="/wiki/The_Beaches" title="The Beaches">
     The Beaches
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M5E
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    <a href="/wiki/Berczy_Park" title="Berczy Park">
     Berczy Park
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M6E
   </td>
   <td>
    York
   </td>
   <td>
    Caledonia-Fairbanks
   </td>
  </tr>
  <tr>
   <td>
    M7E
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M8E
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M9E
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M1G
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    <a href="/wiki/Woburn,_Toronto" title="Woburn, Toronto">
     Woburn
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M2G
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M3G
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M4G
   </td>
   <td>
    <a href="/wiki/East_York" title="East York">
     East York
    </a>
   </td>
   <td>
    <a href="/wiki/Leaside" title="Leaside">
     Leaside
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M5G
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    Central Bay Street
   </td>
  </tr>
  <tr>
   <td>
    M6G
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    Christie
   </td>
  </tr>
  <tr>
   <td>
    M7G
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M8G
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M9G
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M1H
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    Cedarbrae
   </td>
  </tr>
  <tr>
   <td>
    M2H
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    <a href="/wiki/Hillcrest_Village" title="Hillcrest Village">
     Hillcrest Village
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M3H
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    <a href="/wiki/Bathurst_Manor" title="Bathurst Manor">
     Bathurst Manor
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M3H
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    Downsview North
   </td>
  </tr>
  <tr>
   <td>
    M3H
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Wilson_Heights,_Toronto" title="Wilson Heights, Toronto">
     Wilson Heights
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M4H
   </td>
   <td>
    <a href="/wiki/East_York" title="East York">
     East York
    </a>
   </td>
   <td>
    <a href="/wiki/Thorncliffe_Park" title="Thorncliffe Park">
     Thorncliffe Park
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M5H
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    Adelaide
   </td>
  </tr>
  <tr>
   <td>
    M5H
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    King
   </td>
  </tr>
  <tr>
   <td>
    M5H
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    Richmond
   </td>
  </tr>
  <tr>
   <td>
    M6H
   </td>
   <td>
    <a href="/wiki/West_Toronto" title="West Toronto">
     West Toronto
    </a>
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Dovercourt_Village" title="Dovercourt Village">
     Dovercourt Village
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M6H
   </td>
   <td>
    <a href="/wiki/West_Toronto" title="West Toronto">
     West Toronto
    </a>
   </td>
   <td>
    Dufferin
   </td>
  </tr>
  <tr>
   <td>
    M7H
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M8H
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M9H
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M1J
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    <a href="/wiki/Scarborough_Village" title="Scarborough Village">
     Scarborough Village
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M2J
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    Fairview
   </td>
  </tr>
  <tr>
   <td>
    M2J
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    <a href="/wiki/Henry_Farm" title="Henry Farm">
     Henry Farm
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M2J
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    Oriole
   </td>
  </tr>
  <tr>
   <td>
    M3J
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Northwood_Park" title="Northwood Park">
     Northwood Park
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M3J
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    <a href="/wiki/York_University" title="York University">
     York University
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M4J
   </td>
   <td>
    <a href="/wiki/East_York" title="East York">
     East York
    </a>
   </td>
   <td>
    <a href="/wiki/East_Toronto" title="East Toronto">
     East Toronto
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M5J
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    Harbourfront East
   </td>
  </tr>
  <tr>
   <td>
    M5J
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    <a href="/wiki/Toronto_Islands" title="Toronto Islands">
     Toronto Islands
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M5J
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    <a href="/wiki/Union_Station_(Toronto)" title="Union Station (Toronto)">
     Union Station
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M6J
   </td>
   <td>
    <a href="/wiki/West_Toronto" title="West Toronto">
     West Toronto
    </a>
   </td>
   <td>
    <a href="/wiki/Little_Portugal,_Toronto" title="Little Portugal, Toronto">
     Little Portugal
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M6J
   </td>
   <td>
    <a href="/wiki/West_Toronto" title="West Toronto">
     West Toronto
    </a>
   </td>
   <td>
    <a href="/wiki/Trinity%E2%80%93Bellwoods" title="Trinity–Bellwoods">
     Trinity
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M7J
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M8J
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M9J
   </td>
   <td>
    Not assigned
   </td>
   <td>
    Not assigned
   </td>
  </tr>
  <tr>
   <td>
    M1K
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    East Birchmount Park
   </td>
  </tr>
  <tr>
   <td>
    M1K
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    <a href="/wiki/Ionview" title="Ionview">
     Ionview
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M1K
   </td>
   <td>
    <a href="/wiki/Scarborough,_Toronto" title="Scarborough, Toronto">
     Scarborough
    </a>
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Kennedy_Park,_Toronto" title="Kennedy Park, Toronto">
     Kennedy Park
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M2K
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    <a href="/wiki/Bayview_Village" title="Bayview Village">
     Bayview Village
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M3K
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    <a href="/wiki/CFB_Toronto" title="CFB Toronto">
     CFB Toronto
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M3K
   </td>
   <td>
    <a href="/wiki/North_York" title="North York">
     North York
    </a>
   </td>
   <td>
    Downsview East
   </td>
  </tr>
  <tr>
   <td>
    M4K
   </td>
   <td>
    <a href="/wiki/East_Toronto" title="East Toronto">
     East Toronto
    </a>
   </td>
   <td>
    The Danforth West
   </td>
  </tr>
  <tr>
   <td>
    M4K
   </td>
   <td>
    <a href="/wiki/East_Toronto" title="East Toronto">
     East Toronto
    </a>
   </td>
   <td>
    <a href="/wiki/Riverdale,_Toronto" title="Riverdale, Toronto">
     Riverdale
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M5K
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    <a href="/wiki/Design_Exchange" title="Design Exchange">
     Design Exchange
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M5K
   </td>
   <td>
    <a href="/wiki/Downtown_Toronto" title="Downtown Toronto">
     Downtown Toronto
    </a>
   </td>
   <td>
    <a class="mw-redirect" href="/wiki/Toronto_Dominion_Centre" title="Toronto Dominion Centre">
     Toronto Dominion Centre
    </a>
   </td>
  </tr>
  <tr>
   <td>
    M6K
   </td>
   <td>
    <a href="/wiki/West_Toronto" title="West Toronto">
     West Toronto
    </a>
   </td>
   <td>
    Brockton
   </td>
  </tr>
  <tr>
   <td>
    M6K
   </td>
   <td>
    <a href="/wiki/West_Toronto" title="West Toronto">
     West Toronto
    </a>
   </td>
   <td>
    <a href="/wiki/Exhibition_Place" title="Exhibition Place">

In [6]:
# cast the bs object for the table into a str so pandas can read it, then convert to df
df = pd.read_html(str(table), header=0)[0] # read_html returns a list of dfs. there should only be 1 table here, so index 0 should be the correct one
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Data Cleaning
Criteria:
* The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
* Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
* More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
* If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
* In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

#### Data Exploration
Let's expore the data a little so we can see what we need to do. How many Boroughs are 'Not Assigned'? How many post codes have multiple neighborhoods?

In [7]:
# use .info() method to see how much data we have and if check for null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 3 columns):
Postcode         287 non-null object
Borough          287 non-null object
Neighbourhood    287 non-null object
dtypes: object(3)
memory usage: 6.9+ KB

In [8]:
# how many not assigned vlaues are there?
df['Borough'].value_counts()

Not assigned        77
Etobicoke           44
North York          38
Scarborough         37
Downtown Toronto    36
Central Toronto     17
West Toronto        13
York                 9
East Toronto         7
East York            6
Queen's Park         2
Mississauga          1
Name: Borough, dtype: int64

Let's drop all the rows that have a 'Not Assigned' Borrough

In [9]:
# filter out any rows where the Borough column is 'Not assigned'
df = df[df['Borough'] != 'Not assigned']
df['Borough'].value_counts() # verify value counts

Etobicoke           44
North York          38
Scarborough         37
Downtown Toronto    36
Central Toronto     17
West Toronto        13
York                 9
East Toronto         7
East York            6
Queen's Park         2
Mississauga          1
Name: Borough, dtype: int64

Next, let's find the rows where the neighbourhoods are 'Not assigned'. Once we've found those rows, we can set the 'Neighborhood' column equal to the 'Borough' column

In [10]:
# Find boroughs where the neighborhood is not assigned
no_neighborhood = df[df['Neighbourhood'] == 'Not assigned']
no_neighborhood

  Postcode       Borough Neighbourhood
7      M7A  Queen's Park  Not assigned

Now that we know what rows to change, we can slice those rows and set the 'Neighbourhood' equal to the 'Borough'. There's technically only one row that we have to change for this data set, but this code would work in case there were multiple rows. It's good for practice.

In [11]:
# Find the indices of the desired rows
indices_to_change = no_neighborhood.index
# slice and change df
df.loc[indices_to_change, 'Neighbourhood'] = df.loc[indices_to_change, 'Borough']

# Verify Change
df[df['Borough'] == "Queen's Park"]

  Postcode       Borough Neighbourhood
7      M7A  Queen's Park  Queen's Park
9      M9A  Queen's Park  Queen's Park

In [12]:
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Queen's Park
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

The last step of the cleaning is to concactenate all neighbourhoods in each borough into one row. We can group by Postcode and then Borugh, then join each neighborhood in heaf group separated by ', '

In [13]:
# Group the df and get the series for 'Neighborhood'. Then join each str, separated vy ', '. Convert the new series to a df afterwards
clean_df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).to_frame()

# reset index
clean_df.reset_index(inplace=True)

clean_df.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

In [14]:
# display shape of df
clean_df.shape

(103, 3)

# Part Two
## Geocoding
We need to get coordinates (lattitude and longtitude) for each postal code. Geocoder wasn't working for me, and I tried other sources like geopy and mapbox with mixed results. Map box, was sucessful, but gave slightly different results from the provided csv. For grading simplicity and continuity, I'm going to use the csv.

After reding the data from the provided csv, Let's build a dataframe of coordinates for each unique postal code, then merge that df with the previously made df containing the borroughs and neighborhoods.

In [15]:
csv_path = 'https://cocl.us/Geospatial_data'
coordinate_df = pd.read_csv(csv_path)
coordinate_df.rename(columns={'Postal Code':'Postcode'}, inplace=True) # rename column so it matches previous df
coordinate_df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [16]:
coordinate_df.shape

(103, 3)

In [17]:
# Merge dataframes
df = pd.merge(clean_df, coordinate_df, on='Postcode')
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [18]:
df.shape

(103, 5)

# Part 3
## Foursquare API call and clustering

Let's filter for only the top 25% most populated postal codes in Toronto. To do this, let's scrape more data from the 2016 Canadian census. We can join this data on the 'Postcode' column to get the population for each postcode.

In [19]:
census_data = 'https://www12.statcan.gc.ca/census-recensement/2016/dp-pd/hlt-fst/pd-pl/Table.cfm?Lang=Eng&T=1201&SR=1&S=22&O=A&RPP=9999&PR=0'

In [20]:
# read the census page into BS object from function in part 1
census_soup = get_html(census_data)
print(census_soup.prettify())

<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" dir="ltr" lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width,initial-scale=1" name="viewport"/>
  <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
         wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
  <title>
   Population and Dwelling Count Highlight Tables, 2016 Census – Forward sortation areas
  </title>
  <!-- METADATA BEGINS | DEBUT DES METADONNEES -->
  <meta content="These tables provide population and dwelling counts established by the 2016 Census of Population." name="description"/>
  <meta content="Population counts, Dwellings" name="keywords"/>
  <meta content="Government of Canada, Statistics Canada" name="dcterms.creator"/>
  <meta content="Population and Dwelling Count Highlight Tables, 2016 Census" name="dcterms.title"/>
  <meta content="2017-02-08" name="dcterms.issued" title="W3CDTF"/>
  <meta content="2017-02-08" name="dcterms.modified" title="W3CDTF"/>
  <meta content="Population counts, Dwellings, Census of Population, Geographic areas" name="dcterms.subject" title="gcstc"/>
  <meta content="eng" name="dcterms.language" title="ISO639-2"/>
  <meta content="Population and demography" name="STCtopic"/>
  <meta content="3867" name="STCtopicID"/>
  <meta content="Population changes" name="STCsubtopic"/>
  <meta content="3869" name="STCsubtopicID"/>
  <meta content="2016 census data publications" name="STCtype"/>
  <!-- METADATA ENDS | FIN DES METADONNEES -->
  <meta content="StatCan" property="dcterms:service"/>
  <meta content="2" property="dcterms:accessRights"/>
  <!--[if gte IE 9 | !IE ]><!-->
  <link href="/wet-boew4b/assets/favicon.ico" rel="icon" type="image/x-icon"/>
  <link href="/wet-boew4b/css/wet-boew.min.css" rel="stylesheet"/>
  <script src="/wet-boew4b/js/jquery.min.js">
  </script>
  <!--<![endif]-->
  <link href="/wet-boew4b/css/theme.min.css" rel="stylesheet"/>
  <!--[if lt IE 9]>
<link href="/wet-boew4b/assets/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="/wet-boew4b/css/ie8-wet-boew.min.css" />
<script src="/wet-boew4b/js/ie8-wet-boew.min.js"></script>
<![endif]-->
  <noscript>
   <link href="/wet-boew4b/css/noscript.min.css" rel="stylesheet"/>
  </noscript>
  <script src="//assets.adobedtm.com/caacec67651710193d2331efef325107c23a0145/satelliteLib-c2082deaf69c358c641c5eb20f94b615dd606662.js">
  </script>
  <script>
   dataLayer1 = [];
  </script>
  <!-- CustomScriptsCSSStart -->
  <link href="/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="popdwell.css" rel="stylesheet"/>
  <link href="popdwell-print.css" media="print" rel="stylesheet"/>
  <!-- CustomScriptsCSSEnd -->
 </head>
 <body typeof="WebPage" vocab="http://schema.org/">
  <ul id="wb-tphp">
   <li class="wb-slc">
    <a class="wb-sl" href="#wb-cont">
     Skip to main content
    </a>
   </li>
   <li class="wb-slc visible-sm visible-md visible-lg">
    <a class="wb-sl" href="#wb-info">
     Skip to "About this site"
    </a>
   </li>
  </ul>
  <header role="banner">
   <div class="container" id="wb-bnr">
    <section class="visible-md visible-lg text-right" id="wb-lng">
     <h2 class="wb-inv">
      Language selection
     </h2>
     <div class="row">
      <div class="col-md-12">
       <ul class="list-inline margin-bottom-none">
        <li>
         <a href=" Tableau.cfm?Lang=Fra&amp;T=1201&amp;SR=1&amp;S=22&amp;O=A&amp;RPP=9999&amp;PR=0&amp;CMA=0 " lang="fr">
          Français
         </a>
        </li>
       </ul>
      </div>
     </div>
    </section>
    <div class="row">
     <div class="brand col-xs-8 col-sm-9 col-md-6">
      <a href="https://www.statcan.gc.ca/eng/start">
       <img alt="Symbol of Statistics Canada" src="/wet-boew4b/assets/sig-blk-en.svg"/>
       <span class="wb-inv">
        Government of Canada, Statistics Canada
       </span>
      </a>
     </div>
     <section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
      <h2>
       Search and menus
      </h2>
      <ul class="list-inline text-right chvrn">
       <li>
        <a aria-controls="mb-pnl" class="overlay-lnk" href="#mb-pnl" role="button" title="Search and menus">
         <span class="glyphicon glyphicon-search">
          <span class="glyphicon glyphicon-th-list">
           <span class="wb-inv">
            Search and menus
           </span>
          </span>
         </span>
        </a>
       </li>
      </ul>
      <div id="mb-pnl">
      </div>
     </section>
     <section class="col-xs-6 text-right visible-md visible-lg" id="wb-srch">
      <h2 class="wb-inv">
       Search
      </h2>
      <form action="https://www120.statcan.gc.ca/stcsr/en/sr1/srs" class="form-inline" method="get" name="cse-search-box" role="search">
       <div class="form-group">
        <label class="wb-inv" for="wb-srch-q">
         Search website
        </label>
        <input name="fq" type="hidden" value="stclac:2"/>
        <input class="wb-srch-q form-control" id="wb-srch-q" list="wb-srch-q-ac" maxlength="150" name="q" placeholder="Search website" size="27" type="search" value=""/>
        <datalist id="wb-srch-q-ac">
         <!--[if lte IE 9]><select><![endif]-->
         <!--[if lte IE 9]></select><![endif]-->
        </datalist>
       </div>
       <div class="form-group submit">
        <button class="btn btn-primary btn-small" id="wb-srch-sub" name="wb-srch-sub" type="submit">
         <span class="glyphicon-search glyphicon">
         </span>
         <span class="wb-inv">
          Search
         </span>
        </button>
       </div>
      </form>
     </section>
    </div>
   </div>
   <nav class="wb-menu visible-md visible-lg" data-ajax-replace="/wet-boew4b/ajax/sitemenu-en.html" data-trgt="mb-pnl" id="wb-sm" role="navigation" typeof="SiteNavigationElement">
    <div class="container nvbar">
     <h2 class="wb-inv">
      Topics menu
     </h2>
     <div class="row">
      <ul class="list-inline menu">
       <li>
        <a href="https://www150.statcan.gc.ca/n1/en/subjects?MM=1">
         Subjects
        </a>
       </li>
       <li>
        <a href="https://www150.statcan.gc.ca/n1/en/type/data?MM=1">
         Data
        </a>
       </li>
       <li>
        <a href="https://www150.statcan.gc.ca/n1/en/type/analysis?MM=1">
         Analysis
        </a>
       </li>
       <li>
        <a href="https://www150.statcan.gc.ca/n1/en/type/reference?MM=1">
         Reference
        </a>
       </li>
       <li>
        <a href="https://www150.statcan.gc.ca/n1/en/geo?MM=1">
         Geography
        </a>
       </li>
       <li>
        <a href="https://www12.statcan.gc.ca/census-recensement/index-eng.cfm?MM=1">
         Census
        </a>
       </li>
       <li>
        <a href="https://www.statcan.gc.ca/eng/surveys?MM=1">
         Surveys and statistical programs
        </a>
       </li>
       <li>
        <a href="https://www.statcan.gc.ca/eng/about/statcan?MM=1">
         About StatCan
        </a>
       </li>
       <li>
        <a href="https://www.canada.ca/en.html">
         Canada.ca
        </a>
       </li>
      </ul>
     </div>
    </div>
   </nav>
   <nav class="" id="wb-bc" property="breadcrumb" role="navigation">
    <div class="container">
     <div class="row">
      <!-- Breadcrumb trail -->
      <ol class="breadcrumb">
       <li>
        <a href="http://www.statcan.gc.ca/start-debut-eng.html">
         Home
        </a>
       </li>
       <li>
        <a href="/census-recensement/index-eng.cfm">
         Census Program
        </a>
       </li>
       <li>
        <a href="/census-recensement/2016/dp-pd/index-eng.cfm">
         Data products, 2016 Census
        </a>
       </li>
       <li>
        <a href="/census-recensement/2016/dp-pd/hlt-fst/index-eng.cfm">
         Highlight Tables
        </a>
       </li>
       <li>
        <a href="index-eng.cfm">
         Population and Dwelling Counts
        </a>
       </li>
       <li>
        Forward sortation areas
       </li>
      </ol>
     </div>
    </div>
   </nav>
  </header>
  <main class="container" property="mainContentOfPage" role="main">
   <h1 class="h2" id="wb-cont" property="name">
    Population and Dwelling Count Highlight Tables, 2016 Census
   </h1>
   <h2 class="h3" id="table-title">
    Population and dwelling counts, for Canada and forward sortation areas© as reported by the respondents, 2016 Census – 100% data
    <a href="/census-recensement/news-nouvelles/corr/cgen009-eng.cfm">
     <img alt="The letter C inside a yellow triangle - correction" src="/images/corrections/triangleJaune.gif" title="Update of the 2016 Census data at the forward sortation area level of geography"/>
     <span class="wb-inv">
      Update of the 2016 Census data at the forward sortation area level of geography
     </span>
    </a>
   </h2>
   <div class="wb-tabs ignore-session">
    <div class="tabpanels">
     <details id="details-panel1">
      <summary>
       About
      </summary>
      <p>
       This table shows the 2016 population and dwelling counts for reported forward sortation areas (FSAs
       <sup>
        <abbr title="copyright">
         ©
        </abbr>
       </sup>
       ), which are represented by the first three characters of a postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       .
      </p>
      <p>
       The population, dwelling and household counts for a forward sortation area (FSA
       <sup>
        <abbr title="copyright">
         ©
        </abbr>
       </sup>
       ) are based on the first three characters of the postal codes
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       captured from the first page of the 2016 Census questionnaire. The same postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       was assigned to all members of a given household to allow for the calculation of various census data.
      </p>
      <p>
       The postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       is captured for all households from the address information provided or accepted by the respondent on the front page of the census questionnaire. For the 2016 Census, held on May 10, 2016, some census questionnaires contained a pre-printed postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       that the respondents could either accept or correct; however, other census questionnaires did not contain a pre-printed postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       and respondents were asked to provide one by writing it on the questionnaire.
      </p>
      <p>
       The postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       provided by respondents may not be the same as the one assigned to their dwelling by Canada Post Corporation. For example, respondents may have given the postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       of their mailing address, such as a post office location (as in the case of general delivery) or of a business location.
      </p>
      <p>
       The postal codes
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       were processed through a series of operations including data capture, and edit and imputation. The edit operation consisted of identifying applicable, acceptable and invalid postal codes
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       . Postal codes
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       were determined to be applicable for the 2016 Census, if they appeared on Canada Post Corporation’s Address Lookup File for May 2016, the month of the census. However, postal codes
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       provided by the respondents were considered acceptable if they were found in the file from Canada Post Corporation within the six months leading up to the census. This is consistent with the effort to represent the FSA
       <sup>
        <abbr title="copyright">
         ©
        </abbr>
       </sup>
       and the postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       whenever they could be considered as being in use at the time of the census. The imputation stage assigned applicable postal codes
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       where either no postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       was reported or an invalid postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       was provided.
      </p>
      <p>
       While these processes allow census respondents to provide postal codes
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       of any category (for example, a commercial postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       or a large volume receiver postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       ), analysis of census results has shown that this occurs only for a small number of households. If an FSA
       <sup>
        <abbr title="copyright">
         ©
        </abbr>
       </sup>
       is not reported on the census questionnaire, as in the case of many business FSAs
       <sup>
        <abbr title="copyright">
         ©
        </abbr>
       </sup>
       , it is not included in the census products or the Census Forward Sortation Area
       <sup>
        <abbr title="copyright">
         ©
        </abbr>
       </sup>
       Boundary File. Where a postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       is not frequently reported in a dissemination area, it may not be represented in the 2016 Census Forward Sortation Area
       <sup>
        <abbr title="copyright">
         ©
        </abbr>
       </sup>
       Boundary File which is built from dissemination areas. As a result, whereas 1,641 FSAs
       <sup>
        <abbr title="copyright">
         ©
        </abbr>
       </sup>
       were reported in the 2016 Census, only 1,620 are represented in the boundary file.
      </p>
      <p>
       All households that provided a postal code
       <sup>
        <abbr title="official mark">
         OM
        </abbr>
       </sup>
       with the same FSA
       <sup>
        <abbr title="copyright">
         ©
        </abbr>
       </sup>
       were grouped to calculate FSA
       <sup>
        <abbr title="copyright">
         ©
        </abbr>
       </sup>
       totals in census products. As a result, it is possible that households located in a particular province be included in an FSA
       <sup>
        <abbr title="copyright">
         ©
        </abbr>
       </sup>
       found in another province. Therefore, calculating a provincial population, dwelling or household count by grouping FSAs
       <sup>
        <abbr title="copyright">
         ©
        </abbr>
       </sup>
       will not necessarily yield the same count as the one provided in the provincial or territorial population, dwelling or household count tables.
      </p>
      <p>
       © This data includes information copied with permission from Canada Post Corporation.
      </p>
      <p>
       OM: Postal code is an official mark of Canada Post Corporation.
      </p>
      <p>
       <a href="About.cfm">
        Learn more about the data
       </a>
      </p>
     </details>
     <details id="details-panel2" open="">
      <summary>
       Data table
      </summary>
      <div id="table-topbar">
       <div class="col-md-6 pad-left-none" style="padding-top:15px;">
        <label class="wb-inv" for="RPP">
         Rows per page
        </label>
        <abbr title="Forward sortation areas (FSAs)">
         FSAs
        </abbr>
        per page
        <select class="form-controlx" id="RPP" name="RPP">
         <option value="25">
          25
         </option>
         <option value="50">
          50
         </option>
         <option value="100">
          100
         </option>
         <option selected="selected" value="9999">
          All
         </option>
        </select>
       </div>
       <div class="col-md-6 pad-right-none">
       </div>
      </div>
      <table class="table-condensed" id="tPopDwell">
       <caption>
        <span class="wb-invisible">
         Population and dwelling counts, for Canada and forward sortation areas© as reported by the respondents, 2016 Census. Same-page links within the first column 'Geographic name' will move focus to the map beneath the table. When sorting the table headers (ascending or descending), the page reloads and focus moves to the top of the table.
        </span>
       </caption>
       <thead>
        <tr>
         <th class="align-bottom text-left width-25" id="COL0">
          Geographic name
         </th>
         <th class="align-bottom text-right width-25" id="COL1">
          Population, 2016
         </th>
         <th class="align-bottom text-right width-25" id="COL2">
          Total private dwellings, 2016
         </th>
         <th class="align-bottom text-right width-25" id="COL3">
          Private dwellings occupied by usual residents, 2016
         </th>
        </tr>
       </thead>
       <tbody>
        <tr id="tablesort">
         <td class="text-left" headers="COL0">
          <a href="/census-recensement/2016/dp-pd/hlt-fst/pd-pl/Table.cfm?Lang=Eng&amp;T=1201&amp;SR=1&amp;S=22&amp;O=D&amp;RPP=9999&amp;PR=0&amp;CMA=0#tPopDwell" title="Geographic name: activate to alpha sort Z to A">
           <div>
            <img alt="Ascending sort applied" src="/Images/sort_A.png"/>
           </div>
          </a>
         </td>
         <td class="text-right" headers="COL1">
          <a href="/census-recensement/2016/dp-pd/hlt-fst/pd-pl/Table.cfm?Lang=Eng&amp;T=1201&amp;SR=1&amp;S=3&amp;O=D&amp;RPP=9999&amp;PR=0&amp;CMA=0#tPopDwell" title="Private dwellings, 2016 - occupied by usual residents: activate for descending sort">
           <div>
            <img alt="No sort applied" src="/Images/sort_both.png"/>
           </div>
          </a>
         </td>
         <td class="text-right" headers="COL2">
          <a href="/census-recensement/2016/dp-pd/hlt-fst/pd-pl/Table.cfm?Lang=Eng&amp;T=1201&amp;SR=1&amp;S=6&amp;O=D&amp;RPP=9999&amp;PR=0&amp;CMA=0#tPopDwell" title="Land area in square kilometres, 2016: activate for descending sort">
           <div>
            <img alt="No sort applied" src="/Images/sort_both.png"/>
           </div>
          </a>
         </td>
         <td class="text-right" headers="COL3">
          <a href="/census-recensement/2016/dp-pd/hlt-fst/pd-pl/Table.cfm?Lang=Eng&amp;T=1201&amp;SR=1&amp;S=34&amp;O=D&amp;RPP=9999&amp;PR=0&amp;CMA=0#tPopDwell" title="Population density per square kilometre, 2016: activate for descending sort">
           <div>
            <img alt="No sort applied" src="/Images/sort_both.png"/>
           </div>
          </a>
         </td>
        </tr>
       </tbody>
       <tbody>
        <tr>
         <th class="text-left font-normal" headers="COL0" id="ROW1">
          Canada

In [21]:
# find the table in the page
census_table = census_soup.find('table')
print(census_table.prettify())

<table class="table-condensed" id="tPopDwell">
 <caption>
  <span class="wb-invisible">
   Population and dwelling counts, for Canada and forward sortation areas© as reported by the respondents, 2016 Census. Same-page links within the first column 'Geographic name' will move focus to the map beneath the table. When sorting the table headers (ascending or descending), the page reloads and focus moves to the top of the table.
  </span>
 </caption>
 <thead>
  <tr>
   <th class="align-bottom text-left width-25" id="COL0">
    Geographic name
   </th>
   <th class="align-bottom text-right width-25" id="COL1">
    Population, 2016
   </th>
   <th class="align-bottom text-right width-25" id="COL2">
    Total private dwellings, 2016
   </th>
   <th class="align-bottom text-right width-25" id="COL3">
    Private dwellings occupied by usual residents, 2016
   </th>
  </tr>
 </thead>
 <tbody>
  <tr id="tablesort">
   <td class="text-left" headers="COL0">
    <a href="/census-recensement/2016/dp-pd/hlt-fst/pd-pl/Table.cfm?Lang=Eng&amp;T=1201&amp;SR=1&amp;S=22&amp;O=D&amp;RPP=9999&amp;PR=0&amp;CMA=0#tPopDwell" title="Geographic name: activate to alpha sort Z to A">
     <div>
      <img alt="Ascending sort applied" src="/Images/sort_A.png"/>
     </div>
    </a>
   </td>
   <td class="text-right" headers="COL1">
    <a href="/census-recensement/2016/dp-pd/hlt-fst/pd-pl/Table.cfm?Lang=Eng&amp;T=1201&amp;SR=1&amp;S=3&amp;O=D&amp;RPP=9999&amp;PR=0&amp;CMA=0#tPopDwell" title="Private dwellings, 2016 - occupied by usual residents: activate for descending sort">
     <div>
      <img alt="No sort applied" src="/Images/sort_both.png"/>
     </div>
    </a>
   </td>
   <td class="text-right" headers="COL2">
    <a href="/census-recensement/2016/dp-pd/hlt-fst/pd-pl/Table.cfm?Lang=Eng&amp;T=1201&amp;SR=1&amp;S=6&amp;O=D&amp;RPP=9999&amp;PR=0&amp;CMA=0#tPopDwell" title="Land area in square kilometres, 2016: activate for descending sort">
     <div>
      <img alt="No sort applied" src="/Images/sort_both.png"/>
     </div>
    </a>
   </td>
   <td class="text-right" headers="COL3">
    <a href="/census-recensement/2016/dp-pd/hlt-fst/pd-pl/Table.cfm?Lang=Eng&amp;T=1201&amp;SR=1&amp;S=34&amp;O=D&amp;RPP=9999&amp;PR=0&amp;CMA=0#tPopDwell" title="Population density per square kilometre, 2016: activate for descending sort">
     <div>
      <img alt="No sort applied" src="/Images/sort_both.png"/>
     </div>
    </a>
   </td>
  </tr>
 </tbody>
 <tbody>
  <tr>
   <th class="text-left font-normal" headers="COL0" id="ROW1">
    Canada
    <sup id="fn-irf-rf">
     <a class="fn-lnk" href="#fn-irf">
      <span class="wb-inv">
       Footnote
      </span>
      1
     </a>
    </sup>
   </th>
   <td class="text-right" headers="ROW1 COL1">
    35,151,728
   </td>
   <td class="text-right" headers="ROW1 COL2">
    15,412,443
   </td>
   <td class="text-right" headers="ROW1 COL3">
    14,072,079
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW2">
    A0A
   </th>
   <td class="text-right" headers="ROW2 COL1">
    46,587
   </td>
   <td class="text-right" headers="ROW2 COL2">
    26,155
   </td>
   <td class="text-right" headers="ROW2 COL3">
    19,426
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW3">
    A0B
   </th>
   <td class="text-right" headers="ROW3 COL1">
    19,792
   </td>
   <td class="text-right" headers="ROW3 COL2">
    13,658
   </td>
   <td class="text-right" headers="ROW3 COL3">
    8,792
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW4">
    A0C
   </th>
   <td class="text-right" headers="ROW4 COL1">
    12,587
   </td>
   <td class="text-right" headers="ROW4 COL2">
    8,010
   </td>
   <td class="text-right" headers="ROW4 COL3">
    5,606
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW5">
    A0E
   </th>
   <td class="text-right" headers="ROW5 COL1">
    22,294
   </td>
   <td class="text-right" headers="ROW5 COL2">
    12,293
   </td>
   <td class="text-right" headers="ROW5 COL3">
    9,603
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW6">
    A0G
   </th>
   <td class="text-right" headers="ROW6 COL1">
    35,266
   </td>
   <td class="text-right" headers="ROW6 COL2">
    21,750
   </td>
   <td class="text-right" headers="ROW6 COL3">
    15,200
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW7">
    A0H
   </th>
   <td class="text-right" headers="ROW7 COL1">
    17,804
   </td>
   <td class="text-right" headers="ROW7 COL2">
    9,928
   </td>
   <td class="text-right" headers="ROW7 COL3">
    7,651
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW8">
    A0J
   </th>
   <td class="text-right" headers="ROW8 COL1">
    7,880
   </td>
   <td class="text-right" headers="ROW8 COL2">
    4,813
   </td>
   <td class="text-right" headers="ROW8 COL3">
    3,426
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW9">
    A0K
   </th>
   <td class="text-right" headers="ROW9 COL1">
    26,058
   </td>
   <td class="text-right" headers="ROW9 COL2">
    15,159
   </td>
   <td class="text-right" headers="ROW9 COL3">
    11,090
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW10">
    A0L
   </th>
   <td class="text-right" headers="ROW10 COL1">
    7,643
   </td>
   <td class="text-right" headers="ROW10 COL2">
    3,769
   </td>
   <td class="text-right" headers="ROW10 COL3">
    3,178
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW11">
    A0M
   </th>
   <td class="text-right" headers="ROW11 COL1">
    6,200
   </td>
   <td class="text-right" headers="ROW11 COL2">
    3,247
   </td>
   <td class="text-right" headers="ROW11 COL3">
    2,769
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW12">
    A0N
   </th>
   <td class="text-right" headers="ROW12 COL1">
    13,815
   </td>
   <td class="text-right" headers="ROW12 COL2">
    8,027
   </td>
   <td class="text-right" headers="ROW12 COL3">
    6,370
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW13">
    A0P
   </th>
   <td class="text-right" headers="ROW13 COL1">
    13,721
   </td>
   <td class="text-right" headers="ROW13 COL2">
    5,123
   </td>
   <td class="text-right" headers="ROW13 COL3">
    4,677
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW14">
    A0R
   </th>
   <td class="text-right" headers="ROW14 COL1">
    2,543
   </td>
   <td class="text-right" headers="ROW14 COL2">
    1,293
   </td>
   <td class="text-right" headers="ROW14 COL3">
    966
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW15">
    A1A
   </th>
   <td class="text-right" headers="ROW15 COL1">
    30,382
   </td>
   <td class="text-right" headers="ROW15 COL2">
    13,545
   </td>
   <td class="text-right" headers="ROW15 COL3">
    12,663
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW16">
    A1B
   </th>
   <td class="text-right" headers="ROW16 COL1">
    19,867
   </td>
   <td class="text-right" headers="ROW16 COL2">
    10,051
   </td>
   <td class="text-right" headers="ROW16 COL3">
    8,653
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW17">
    A1C
   </th>
   <td class="text-right" headers="ROW17 COL1">
    12,712
   </td>
   <td class="text-right" headers="ROW17 COL2">
    7,438
   </td>
   <td class="text-right" headers="ROW17 COL3">
    6,453
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW18">
    A1E
   </th>
   <td class="text-right" headers="ROW18 COL1">
    27,115
   </td>
   <td class="text-right" headers="ROW18 COL2">
    13,704
   </td>
   <td class="text-right" headers="ROW18 COL3">
    12,553
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW19">
    A1G
   </th>
   <td class="text-right" headers="ROW19 COL1">
    5,777
   </td>
   <td class="text-right" headers="ROW19 COL2">
    2,646
   </td>
   <td class="text-right" headers="ROW19 COL3">
    2,483
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW20">
    A1H
   </th>
   <td class="text-right" headers="ROW20 COL1">
    5,493
   </td>
   <td class="text-right" headers="ROW20 COL2">
    2,102
   </td>
   <td class="text-right" headers="ROW20 COL3">
    1,984
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW21">
    A1K
   </th>
   <td class="text-right" headers="ROW21 COL1">
    12,253
   </td>
   <td class="text-right" headers="ROW21 COL2">
    4,646
   </td>
   <td class="text-right" headers="ROW21 COL3">
    4,438
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW22">
    A1L
   </th>
   <td class="text-right" headers="ROW22 COL1">
    21,376
   </td>
   <td class="text-right" headers="ROW22 COL2">
    8,659
   </td>
   <td class="text-right" headers="ROW22 COL3">
    8,035
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW23">
    A1M
   </th>
   <td class="text-right" headers="ROW23 COL1">
    8,058
   </td>
   <td class="text-right" headers="ROW23 COL2">
    3,181
   </td>
   <td class="text-right" headers="ROW23 COL3">
    2,996
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW24">
    A1N
   </th>
   <td class="text-right" headers="ROW24 COL1">
    22,957
   </td>
   <td class="text-right" headers="ROW24 COL2">
    10,381
   </td>
   <td class="text-right" headers="ROW24 COL3">
    9,605
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW25">
    A1S
   </th>
   <td class="text-right" headers="ROW25 COL1">
    6,142
   </td>
   <td class="text-right" headers="ROW25 COL2">
    2,374
   </td>
   <td class="text-right" headers="ROW25 COL3">
    2,304
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW26">
    A1V
   </th>
   <td class="text-right" headers="ROW26 COL1">
    11,698
   </td>
   <td class="text-right" headers="ROW26 COL2">
    5,172
   </td>
   <td class="text-right" headers="ROW26 COL3">
    4,892
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW27">
    A1W
   </th>
   <td class="text-right" headers="ROW27 COL1">
    11,209
   </td>
   <td class="text-right" headers="ROW27 COL2">
    4,549
   </td>
   <td class="text-right" headers="ROW27 COL3">
    4,269
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW28">
    A1X
   </th>
   <td class="text-right" headers="ROW28 COL1">
    15,003
   </td>
   <td class="text-right" headers="ROW28 COL2">
    6,007
   </td>
   <td class="text-right" headers="ROW28 COL3">
    5,668
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW29">
    A1Y
   </th>
   <td class="text-right" headers="ROW29 COL1">
    5,669
   </td>
   <td class="text-right" headers="ROW29 COL2">
    2,627
   </td>
   <td class="text-right" headers="ROW29 COL3">
    2,321
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW30">
    A2A
   </th>
   <td class="text-right" headers="ROW30 COL1">
    9,610
   </td>
   <td class="text-right" headers="ROW30 COL2">
    4,345
   </td>
   <td class="text-right" headers="ROW30 COL3">
    4,118
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW31">
    A2B
   </th>
   <td class="text-right" headers="ROW31 COL1">
    4,909
   </td>
   <td class="text-right" headers="ROW31 COL2">
    2,740
   </td>
   <td class="text-right" headers="ROW31 COL3">
    2,127
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW32">
    A2H
   </th>
   <td class="text-right" headers="ROW32 COL1">
    26,092
   </td>
   <td class="text-right" headers="ROW32 COL2">
    12,628
   </td>
   <td class="text-right" headers="ROW32 COL3">
    11,227
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW33">
    A2N
   </th>
   <td class="text-right" headers="ROW33 COL1">
    8,904
   </td>
   <td class="text-right" headers="ROW33 COL2">
    4,348
   </td>
   <td class="text-right" headers="ROW33 COL3">
    4,048
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW34">
    A2V
   </th>
   <td class="text-right" headers="ROW34 COL1">
    7,288
   </td>
   <td class="text-right" headers="ROW34 COL2">
    3,500
   </td>
   <td class="text-right" headers="ROW34 COL3">
    2,933
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW35">
    A5A
   </th>
   <td class="text-right" headers="ROW35 COL1">
    8,111
   </td>
   <td class="text-right" headers="ROW35 COL2">
    3,830
   </td>
   <td class="text-right" headers="ROW35 COL3">
    3,284
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW36">
    A8A
   </th>
   <td class="text-right" headers="ROW36 COL1">
    6,901
   </td>
   <td class="text-right" headers="ROW36 COL2">
    4,041
   </td>
   <td class="text-right" headers="ROW36 COL3">
    2,865
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW37">
    B0C
   </th>
   <td class="text-right" headers="ROW37 COL1">
    2,649
   </td>
   <td class="text-right" headers="ROW37 COL2">
    1,689
   </td>
   <td class="text-right" headers="ROW37 COL3">
    1,161
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW38">
    B0E
   </th>
   <td class="text-right" headers="ROW38 COL1">
    25,881
   </td>
   <td class="text-right" headers="ROW38 COL2">
    14,997
   </td>
   <td class="text-right" headers="ROW38 COL3">
    11,258
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW39">
    B0H
   </th>
   <td class="text-right" headers="ROW39 COL1">
    9,953
   </td>
   <td class="text-right" headers="ROW39 COL2">
    5,827
   </td>
   <td class="text-right" headers="ROW39 COL3">
    4,388
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW40">
    B0J
   </th>
   <td class="text-right" headers="ROW40 COL1">
    39,302
   </td>
   <td class="text-right" headers="ROW40 COL2">
    23,591
   </td>
   <td class="text-right" headers="ROW40 COL3">
    17,707
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW41">
    B0K
   </th>
   <td class="text-right" headers="ROW41 COL1">
    35,895
   </td>
   <td class="text-right" headers="ROW41 COL2">
    20,689
   </td>
   <td class="text-right" headers="ROW41 COL3">
    15,775
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW42">
    B0L
   </th>
   <td class="text-right" headers="ROW42 COL1">
    2,364
   </td>
   <td class="text-right" headers="ROW42 COL2">
    1,657
   </td>
   <td class="text-right" headers="ROW42 COL3">
    1,056
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW43">
    B0M
   </th>
   <td class="text-right" headers="ROW43 COL1">
    16,997
   </td>
   <td class="text-right" headers="ROW43 COL2">
    9,995
   </td>
   <td class="text-right" headers="ROW43 COL3">
    7,548
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW44">
    B0N
   </th>
   <td class="text-right" headers="ROW44 COL1">
    39,559
   </td>
   <td class="text-right" headers="ROW44 COL2">
    19,157
   </td>
   <td class="text-right" headers="ROW44 COL3">
    16,644
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW45">
    B0P
   </th>
   <td class="text-right" headers="ROW45 COL1">
    40,417
   </td>
   <td class="text-right" headers="ROW45 COL2">
    18,766
   </td>
   <td class="text-right" headers="ROW45 COL3">
    16,913
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW46">
    B0R
   </th>
   <td class="text-right" headers="ROW46 COL1">
    5,779
   </td>
   <td class="text-right" headers="ROW46 COL2">
    3,771
   </td>
   <td class="text-right" headers="ROW46 COL3">
    2,656
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW47">
    B0S
   </th>
   <td class="text-right" headers="ROW47 COL1">
    17,212
   </td>
   <td class="text-right" headers="ROW47 COL2">
    9,892
   </td>
   <td class="text-right" headers="ROW47 COL3">
    7,954
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW48">
    B0T
   </th>
   <td class="text-right" headers="ROW48 COL1">
    14,607
   </td>
   <td class="text-right" headers="ROW48 COL2">
    9,029
   </td>
   <td class="text-right" headers="ROW48 COL3">
    6,737
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW49">
    B0V
   </th>
   <td class="text-right" headers="ROW49 COL1">
    5,809
   </td>
   <td class="text-right" headers="ROW49 COL2">
    3,253
   </td>
   <td class="text-right" headers="ROW49 COL3">
    2,758
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW50">
    B0W
   </th>
   <td class="text-right" headers="ROW50 COL1">
    26,951
   </td>
   <td class="text-right" headers="ROW50 COL2">
    14,465
   </td>
   <td class="text-right" headers="ROW50 COL3">
    12,029
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW51">
    B1A
   </th>
   <td class="text-right" headers="ROW51 COL1">
    15,937
   </td>
   <td class="text-right" headers="ROW51 COL2">
    7,593
   </td>
   <td class="text-right" headers="ROW51 COL3">
    7,051
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW52">
    B1B
   </th>
   <td class="text-right" headers="ROW52 COL1">
    1,196
   </td>
   <td class="text-right" headers="ROW52 COL2">
    643
   </td>
   <td class="text-right" headers="ROW52 COL3">
    550
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW53">
    B1C
   </th>
   <td class="text-right" headers="ROW53 COL1">
    1,654
   </td>
   <td class="text-right" headers="ROW53 COL2">
    859
   </td>
   <td class="text-right" headers="ROW53 COL3">
    738
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW54">
    B1E
   </th>
   <td class="text-right" headers="ROW54 COL1">
    1,564
   </td>
   <td class="text-right" headers="ROW54 COL2">
    729
   </td>
   <td class="text-right" headers="ROW54 COL3">
    682
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW55">
    B1G
   </th>
   <td class="text-right" headers="ROW55 COL1">
    1,867
   </td>
   <td class="text-right" headers="ROW55 COL2">
    898
   </td>
   <td class="text-right" headers="ROW55 COL3">
    843
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW56">
    B1H
   </th>
   <td class="text-right" headers="ROW56 COL1">
    9,642
   </td>
   <td class="text-right" headers="ROW56 COL2">
    4,539
   </td>
   <td class="text-right" headers="ROW56 COL3">
    4,296
   </td>
  </tr>
  <tr>
   <th class="text-left font-normal indent-1" headers="COL0" id="ROW57">
    B1J
   </th>
   <td class="text-right" headers="ROW57 COL1">
    969
   </td>
   <td class="text-right" headers="ROW57 COL2">
    707
   </td>

In [22]:
# read table into df
census_df = pd.read_html(str(census_table), header=0, skiprows=[1])[0]
census_df.rename(columns={'Geographic name':'Postcode'}, inplace=True)
census_df.head()

,Postcode,"Population, 2016","Total private dwellings, 2016","Private dwellings occupied by usual residents, 2016"
0,CanadaFootnote 1,35151728,15412443,14072079
1,A0A,46587,26155,19426
2,A0B,19792,13658,8792
3,A0C,12587,8010,5606
4,A0E,22294,12293,9603

In [23]:
# Inner Join dfs on postcode = Geographic name. This will leave us with only the postcodes in Toronto
hood_pop_df = pd.merge(df, census_df, on='Postcode')
hood_pop_df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude,"Population, 2016","Total private dwellings, 2016","Private dwellings occupied by usual residents, 2016"
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353,66108,20957,20230
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497,35626,11588,11274
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711,46943,17637,17161
3,M1G,Scarborough,Woburn,43.770992,-79.216917,29690,10116,9767
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476,24383,9274,8985

In [24]:
# Calculate the top n % of neighborhoods
n = 0.25

# Get the index of the last row in the top n %
i = int(hood_pop_df.shape[0] * n)

# sort the hood_pop_df by population
hood_pop_df.sort_values(['Population, 2016'], ascending=False, inplace=True)

# slice the df at i for the top n percent
top_df = hood_pop_df.iloc[:i]
top_df.reset_index(inplace=True, drop=True)
top_df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude,"Population, 2016","Total private dwellings, 2016","Private dwellings occupied by usual residents, 2016"
0,M2N,North York,Willowdale South,43.770120,-79.408493,75897,36123,33765
1,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353,66108,20957,20230
2,M2J,North York,"Fairview, Henry Farm, Oriole",43.778517,-79.346556,58293,22524,21876
3,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437,55959,17590,16808
4,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.815252,-79.284577,54680,16449,16092

In [25]:
top_df.shape

(25, 8)

In [26]:
# build query for foursquare api
# input api keys for now
client = input('Input Client key: ')
client_secret = input('Input Client Secret: ')

Input Client key: UZXIPYQ2CSFLPXBDCQTUKIETXYTK1EXJWSEMELCVDHSEZOOF
Input Client Secret: 1ERBZHULD03ZGTO3EKVYGIUVWV04Z2I1G2GQQTNOSBWWNPXB

In [27]:
top_df.dtypes

Postcode                                                object
Borough                                                 object
Neighbourhood                                           object
Latitude                                               float64
Longitude                                              float64
Population, 2016                                         int64
Total private dwellings, 2016                            int64
Private dwellings occupied by usual residents, 2016      int64
dtype: object

In [28]:
# Build Url
# version = 20180605
version = 20191114
radius = 500
limit = 100
base_uri = 'https://api.foursquare.com/v2/venues/explore'
postcode = top_df.loc[0,'Postcode']
lat = top_df.loc[0,'Latitude'].round(2)
long = top_df.loc[0,'Longitude'].round(2)
ll = f'{lat},{long}'

print(ll)

url = f'{base_uri}?client_id={client}&client_secret={client_secret}&v={version}&ll={ll}&radius={radius}&limit={limit}'
print(url)

43.77,-79.41
https://api.foursquare.com/v2/venues/explore?client_id=UZXIPYQ2CSFLPXBDCQTUKIETXYTK1EXJWSEMELCVDHSEZOOF&client_secret=1ERBZHULD03ZGTO3EKVYGIUVWV04Z2I1G2GQQTNOSBWWNPXB&v=20191114&ll=43.77,-79.41&radius=500&limit=100

In [29]:
# request data
response = requests.get(url)
r = response.json()

import json
print(json.dumps(r, indent=3, sort_keys=True))

{
   "meta": {
      "code": 200,
      "requestId": "5dcef8d35fb726001bf8a9c2"
   },
   "response": {
      "groups": [
         {
            "items": [
               {
                  "reasons": {
                     "count": 0,
                     "items": [
                        {
                           "reasonName": "globalInteractionReason",
                           "summary": "This spot is popular",
                           "type": "general"
                        }
                     ]
                  },
                  "referralId": "e-0-4ae257cff964a520758d21e3-0",
                  "venue": {
                     "categories": [
                        {
                           "icon": {
                              "prefix": "https://ss3.4sqi.net/img/categories_v2/shops/food_grocery_",
                              "suffix": ".png"
                           },
                           "id": "4bf58dd8d48988d118951735",
                           "name": "Grocery Store",
                           "pluralName": "Grocery Stores",
                           "primary": true,
                           "shortName": "Grocery Store"
                        }
                     ],
                     "id": "4ae257cff964a520758d21e3",
                     "location": {
                        "address": "5095 Yonge St",
                        "cc": "CA",
                        "city": "North York",
                        "country": "Canada",
                        "crossStreet": "in North York Centre",
                        "distance": 220,
                        "formattedAddress": [
                           "5095 Yonge St (in North York Centre)",
                           "North York ON M2N 6Z4",
                           "Canada"
                        ],
                        "labeledLatLngs": [
                           {
                              "label": "display",
                              "lat": 43.768722,
                              "lng": -79.412101
                           }
                        ],
                        "lat": 43.768722,
                        "lng": -79.412101,
                        "neighborhood": "Willowdale",
                        "postalCode": "M2N 6Z4",
                        "state": "ON"
                     },
                     "name": "Loblaws",
                     "photos": {
                        "count": 0,
                        "groups": []
                     }
                  }
               },
               {
                  "reasons": {
                     "count": 0,
                     "items": [
                        {
                           "reasonName": "globalInteractionReason",
                           "summary": "This spot is popular",
                           "type": "general"
                        }
                     ]
                  },
                  "referralId": "e-0-5a02789d0a464d3112a58785-1",
                  "venue": {
                     "categories": [
                        {
                           "icon": {
                              "prefix": "https://ss3.4sqi.net/img/categories_v2/food/ramen_",
                              "suffix": ".png"
                           },
                           "id": "55a59bace4b013909087cb24",
                           "name": "Ramen Restaurant",
                           "pluralName": "Ramen Restaurants",
                           "primary": true,
                           "shortName": "Ramen"
                        }
                     ],
                     "id": "5a02789d0a464d3112a58785",
                     "location": {
                        "address": "5051 Yonge St",
                        "cc": "CA",
                        "city": "Toronto",
                        "country": "Canada",
                        "crossStreet": "btwn Elmwood & Hillcrest Ave",
                        "distance": 378,
                        "formattedAddress": [
                           "5051 Yonge St (btwn Elmwood & Hillcrest Ave)",
                           "Toronto ON M2N 5P2",
                           "Canada"
                        ],
                        "labeledLatLngs": [
                           {
                              "label": "display",
                              "lat": 43.76699771023422,
                              "lng": -79.41222209328754
                           }
                        ],
                        "lat": 43.76699771023422,
                        "lng": -79.41222209328754,
                        "neighborhood": "Willowdale",
                        "postalCode": "M2N 5P2",
                        "state": "ON"
                     },
                     "name": "Konjiki Ramen",
                     "photos": {
                        "count": 0,
                        "groups": []
                     }
                  }
               },
               {
                  "reasons": {
                     "count": 0,
                     "items": [
                        {
                           "reasonName": "globalInteractionReason",
                           "summary": "This spot is popular",
                           "type": "general"
                        }
                     ]
                  },
                  "referralId": "e-0-4ad4c062f964a520e2f720e3-2",
                  "venue": {
                     "categories": [
                        {
                           "icon": {
                              "prefix": "https://ss3.4sqi.net/img/categories_v2/arts_entertainment/movietheater_",
                              "suffix": ".png"
                           },
                           "id": "4bf58dd8d48988d17f941735",
                           "name": "Movie Theater",
                           "pluralName": "Movie Theaters",
                           "primary": true,
                           "shortName": "Movie Theater"
                        }
                     ],
                     "events": {
                        "count": 13,
                        "summary": "13 movies"
                     },
                     "id": "4ad4c062f964a520e2f720e3",
                     "location": {
                        "address": "5095 Yonge St.",
                        "cc": "CA",
                        "city": "Toronto",
                        "country": "Canada",
                        "crossStreet": "in Empress Walk",
                        "distance": 259,
                        "formattedAddress": [
                           "5095 Yonge St. (in Empress Walk)",
                           "Toronto ON M2N 6Z4",
                           "Canada"
                        ],
                        "labeledLatLngs": [
                           {
                              "label": "display",
                              "lat": 43.76862539839479,
                              "lng": -79.41261307104753
                           }
                        ],
                        "lat": 43.76862539839479,
                        "lng": -79.41261307104753,
                        "postalCode": "M2N 6Z4",
                        "state": "ON"
                     },
                     "name": "Cineplex Cinemas Empress Walk",
                     "photos": {
                        "count": 0,
                        "groups": []
                     }
                  }
               },
               {
                  "reasons": {
                     "count": 0,
                     "items": [
                        {
                           "reasonName": "globalInteractionReason",
                           "summary": "This spot is popular",
                           "type": "general"
                        }
                     ]
                  },
                  "referralId": "e-0-5a35b4443abcaf37eb1a0d88-3",
                  "venue": {
                     "categories": [
                        {
                           "icon": {
                              "prefix": "https://ss3.4sqi.net/img/categories_v2/food/steakhouse_",
                              "suffix": ".png"
                           },
                           "id": "4bf58dd8d48988d1cc941735",
                           "name": "Steakhouse",
                           "pluralName": "Steakhouses",
                           "primary": true,
                           "shortName": "Steakhouse"
                        }
                     ],
                     "id": "5a35b4443abcaf37eb1a0d88",
                     "location": {
                        "cc": "CA",
                        "city": "Toronto",
                        "country": "Canada",
                        "distance": 417,
                        "formattedAddress": [
                           "Toronto ON M2N 5P1",
                           "Canada"
                        ],
                        "labeledLatLngs": [
                           {
                              "label": "display",
                              "lat": 43.7665789176648,
                              "lng": -79.41213141222555
                           }
                        ],
                        "lat": 43.7665789176648,
                        "lng": -79.41213141222555,
                        "neighborhood": "Willowdale",
                        "postalCode": "M2N 5P1",
                        "state": "ON"
                     },
                     "name": "The Keg",
                     "photos": {
                        "count": 0,
                        "groups": []
                     }
                  }
               },
               {
                  "reasons": {
                     "count": 0,
                     "items": [
                        {
                           "reasonName": "globalInteractionReason",
                           "summary": "This spot is popular",
                           "type": "general"
                        }
                     ]
                  },
                  "referralId": "e-0-557767bc498ea4a20c8043f6-4",
                  "venue": {
                     "categories": [
                        {
                           "icon": {
                              "prefix": "https://ss3.4sqi.net/img/categories_v2/food/cafe_",
                              "suffix": ".png"
                           },
                           "id": "4bf58dd8d48988d16d941735",
                           "name": "Caf\u00e9",
                           "pluralName": "Caf\u00e9s",
                           "primary": true,
                           "shortName": "Caf\u00e9"
                        }
                     ],
                     "id": "557767bc498ea4a20c8043f6",
                     "location": {
                        "address": "6 Parkhome",
                        "cc": "CA",
                        "city": "North York",
                        "country": "Canada",
                        "distance": 255,
                        "formattedAddress": [
                           "6 Parkhome",
                           "North York ON",
                           "Canada"
                        ],
                        "labeledLatLngs": [
                           {
                              "label": "display",
                              "lat": 43.76944882099181,
                              "lng": -79.41308107735675
                           }
                        ],
                        "lat": 43.76944882099181,
                        "lng": -79.41308107735675,
                        "state": "ON"
                     },
                     "name": "Aroma Espresso Bar",
                     "photos": {
                        "count": 0,
                        "groups": []
                     }
                  }
               },
               {
                  "reasons": {
                     "count": 0,
                     "items": [
                        {
                           "reasonName": "globalInteractionReason",
                           "summary": "This spot is popular",
                           "type": "general"
                        }
                     ]
                  },
                  "referralId": "e-0-563d44fccd1044ad67a744fb-5",
                  "venue": {
                     "categories": [
                        {
                           "icon": {
                              "prefix": "https://ss3.4sqi.net/img/categories_v2/food/seafood_",
                              "suffix": ".png"
                           },
                           "id": "4bf58dd8d48988d1ce941735",
                           "name": "Seafood Restaurant",
                           "pluralName": "Seafood Restaurants",
                           "primary": true,
                           "shortName": "Seafood"
                        }
                     ],
                     "id": "563d44fccd1044ad67a744fb",
                     "location": {
                        "address": "5313 Yonge St",
                        "cc": "CA",
                        "city": "Toronto",
                        "country": "Canada",
                        "distance": 474,
                        "formattedAddress": [
                           "5313 Yonge St",
                           "Toronto ON M2N 5R4",
                           "Canada"
                        ],
                        "labeledLatLngs": [
                           {
                              "label": "display",
                              "lat": 43.773255217045026,
                              "lng": -79.41380541792645
                           }
                        ],
                        "lat": 43.773255217045026,
                        "lng": -79.41380541792645,
                        "postalCode": "M2N 5R4",
                        "state": "ON"
                     },
                     "name": "The Captain's Boil",
                     "photos": {
                        "count": 0,
                        "groups": []
                     }
                  }
               },
               {
                  "reasons": {
                     "count": 0,
                     "items": [
                        {
                           "reasonName": "globalInteractionReason",
                           "summary": "This spot is popular",
                           "type": "general"
                        }
                     ]
                  },
                  "referralId": "e-0-4aedfeadf964a52005d121e3-6",
                  "venue": {
                     "categories": [
                        {
                           "icon": {
                              "prefix": "https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_",
                              "suffix": ".png"
                           },
                           "id": "4bf58dd8d48988d1e0931735",
                           "name": "Coffee Shop",
                           "pluralName": "Coffee Shops",
                           "primary": true,
                           "shortName": "Coffee Shop"
                        }
                     ],
                     "id": "4aedfeadf964a52005d121e3",
                     "location": {
                        "address": "5140 Yonge St",
                        "cc": "CA",
                        "city": "Toronto",
                        "country": "Canada",
                        "crossStreet": "at Park Home Ave",
                        "distance": 305,
                        "formattedAddress": [
                           "5140 Yonge St (at Park Home Ave)",
                           "Toronto ON M2N 6L7",
                           "Canada"
                        ],
                        "labeledLatLngs": [
                           {
                              "label": "display",
                              "lat": 43.768353,
                              "lng": -79.413046
                           }
                        ],
                        "lat": 43.768353,
                        "lng": -79.413046,
                        "postalCode": "M2N 6L7",
                        "state": "ON"
                     },
                     "name": "Starbucks",
                     "photos": {
                        "count": 0,
                        "groups": []
                     }
                  }
               },
               {
                  "reasons": {
                     "count": 0,
                     "items": [
                        {
                           "reasonName": "globalInteractionReason",
                           "summary": "This spot is popular",
                           "type": "general"
                        }
                     ]
                  },
                  "referralId": "e-0-5077025ce4b05aefca37d9f9-7",
                  "venue": {
                     "categories": [
                        {
                           "icon": {
                              "prefix": "https://ss3.4sqi.net/img/categories_v2/food/japanese_",
                              "suffix": ".png"
                           },
                           "id": "4bf58dd8d48988d111941735",
                           "name": "Japanese Restaurant",
                           "pluralName": "Japanese Restaurants",
                           "primary": true,
                           "shortName": "Japanese"
                        }
                     ],
                     "id": "5077025ce4b05aefca37d9f9",
                     "location": {
                        "address": "5213 Yonge Street",
                        "cc": "CA",
                        "city": "North York",
                        "country": "Canada",
                        "distance": 267,
                        "formattedAddress": [
                           "5213 Yonge Street",
                           "North York ON",
                           "Canada"
                        ],
                        "labeledLatLngs": [
                           {
                              "label": "display",
                              "lat": 43.77080606720809,
                              "lng": -79.41313811956255
                           }
                        ],
                        "lat": 43.77080606720809,
                        "lng": -79.41313811956255,
                        "state": "ON"
                     },
                     "name": "Wako Sushi + Bar",
                     "photos": {
                        "count": 0,
                        "groups": []
                     }
                  }
               },
               {
                  "reasons": {
                     "count": 0,
                     "items": [
                        {
                           "reasonName": "globalInteractionReason",
                           "summary": "This spot is popular",
                           "type": "general"
                        }
                     ]
                  },
                  "referralId": "e-0-57f92db0498ee70159702002-8",
                  "venue": {
                     "categories": [
                        {
                           "icon": {
                              "prefix": "https://ss3.4sqi.net/img/categories_v2/food/indonesian_",
                              "suffix": ".png"
                           },
                           "id": "4deefc054765f83613cdba6f",
                           "name": "Indonesian Restaurant",
                           "pluralName": "Indonesian Restaurants",
                           "primary": true,

In [30]:
# from the response, the data we want is in ['response']['groups'][0]['items']
venues = r['response']['groups'][0]['items'] # [0]['venue']
print(json.dumps(venues, indent=3, sort_keys=True))

[
   {
      "reasons": {
         "count": 0,
         "items": [
            {
               "reasonName": "globalInteractionReason",
               "summary": "This spot is popular",
               "type": "general"
            }
         ]
      },
      "referralId": "e-0-4ae257cff964a520758d21e3-0",
      "venue": {
         "categories": [
            {
               "icon": {
                  "prefix": "https://ss3.4sqi.net/img/categories_v2/shops/food_grocery_",
                  "suffix": ".png"
               },
               "id": "4bf58dd8d48988d118951735",
               "name": "Grocery Store",
               "pluralName": "Grocery Stores",
               "primary": true,
               "shortName": "Grocery Store"
            }
         ],
         "id": "4ae257cff964a520758d21e3",
         "location": {
            "address": "5095 Yonge St",
            "cc": "CA",
            "city": "North York",
            "country": "Canada",
            "crossStreet": "in North York Centre",
            "distance": 220,
            "formattedAddress": [
               "5095 Yonge St (in North York Centre)",
               "North York ON M2N 6Z4",
               "Canada"
            ],
            "labeledLatLngs": [
               {
                  "label": "display",
                  "lat": 43.768722,
                  "lng": -79.412101
               }
            ],
            "lat": 43.768722,
            "lng": -79.412101,
            "neighborhood": "Willowdale",
            "postalCode": "M2N 6Z4",
            "state": "ON"
         },
         "name": "Loblaws",
         "photos": {
            "count": 0,
            "groups": []
         }
      }
   },
   {
      "reasons": {
         "count": 0,
         "items": [
            {
               "reasonName": "globalInteractionReason",
               "summary": "This spot is popular",
               "type": "general"
            }
         ]
      },
      "referralId": "e-0-5a02789d0a464d3112a58785-1",
      "venue": {
         "categories": [
            {
               "icon": {
                  "prefix": "https://ss3.4sqi.net/img/categories_v2/food/ramen_",
                  "suffix": ".png"
               },
               "id": "55a59bace4b013909087cb24",
               "name": "Ramen Restaurant",
               "pluralName": "Ramen Restaurants",
               "primary": true,
               "shortName": "Ramen"
            }
         ],
         "id": "5a02789d0a464d3112a58785",
         "location": {
            "address": "5051 Yonge St",
            "cc": "CA",
            "city": "Toronto",
            "country": "Canada",
            "crossStreet": "btwn Elmwood & Hillcrest Ave",
            "distance": 378,
            "formattedAddress": [
               "5051 Yonge St (btwn Elmwood & Hillcrest Ave)",
               "Toronto ON M2N 5P2",
               "Canada"
            ],
            "labeledLatLngs": [
               {
                  "label": "display",
                  "lat": 43.76699771023422,
                  "lng": -79.41222209328754
               }
            ],
            "lat": 43.76699771023422,
            "lng": -79.41222209328754,
            "neighborhood": "Willowdale",
            "postalCode": "M2N 5P2",
            "state": "ON"
         },
         "name": "Konjiki Ramen",
         "photos": {
            "count": 0,
            "groups": []
         }
      }
   },
   {
      "reasons": {
         "count": 0,
         "items": [
            {
               "reasonName": "globalInteractionReason",
               "summary": "This spot is popular",
               "type": "general"
            }
         ]
      },
      "referralId": "e-0-4ad4c062f964a520e2f720e3-2",
      "venue": {
         "categories": [
            {
               "icon": {
                  "prefix": "https://ss3.4sqi.net/img/categories_v2/arts_entertainment/movietheater_",
                  "suffix": ".png"
               },
               "id": "4bf58dd8d48988d17f941735",
               "name": "Movie Theater",
               "pluralName": "Movie Theaters",
               "primary": true,
               "shortName": "Movie Theater"
            }
         ],
         "events": {
            "count": 13,
            "summary": "13 movies"
         },
         "id": "4ad4c062f964a520e2f720e3",
         "location": {
            "address": "5095 Yonge St.",
            "cc": "CA",
            "city": "Toronto",
            "country": "Canada",
            "crossStreet": "in Empress Walk",
            "distance": 259,
            "formattedAddress": [
               "5095 Yonge St. (in Empress Walk)",
               "Toronto ON M2N 6Z4",
               "Canada"
            ],
            "labeledLatLngs": [
               {
                  "label": "display",
                  "lat": 43.76862539839479,
                  "lng": -79.41261307104753
               }
            ],
            "lat": 43.76862539839479,
            "lng": -79.41261307104753,
            "postalCode": "M2N 6Z4",
            "state": "ON"
         },
         "name": "Cineplex Cinemas Empress Walk",
         "photos": {
            "count": 0,
            "groups": []
         }
      }
   },
   {
      "reasons": {
         "count": 0,
         "items": [
            {
               "reasonName": "globalInteractionReason",
               "summary": "This spot is popular",
               "type": "general"
            }
         ]
      },
      "referralId": "e-0-5a35b4443abcaf37eb1a0d88-3",
      "venue": {
         "categories": [
            {
               "icon": {
                  "prefix": "https://ss3.4sqi.net/img/categories_v2/food/steakhouse_",
                  "suffix": ".png"
               },
               "id": "4bf58dd8d48988d1cc941735",
               "name": "Steakhouse",
               "pluralName": "Steakhouses",
               "primary": true,
               "shortName": "Steakhouse"
            }
         ],
         "id": "5a35b4443abcaf37eb1a0d88",
         "location": {
            "cc": "CA",
            "city": "Toronto",
            "country": "Canada",
            "distance": 417,
            "formattedAddress": [
               "Toronto ON M2N 5P1",
               "Canada"
            ],
            "labeledLatLngs": [
               {
                  "label": "display",
                  "lat": 43.7665789176648,
                  "lng": -79.41213141222555
               }
            ],
            "lat": 43.7665789176648,
            "lng": -79.41213141222555,
            "neighborhood": "Willowdale",
            "postalCode": "M2N 5P1",
            "state": "ON"
         },
         "name": "The Keg",
         "photos": {
            "count": 0,
            "groups": []
         }
      }
   },
   {
      "reasons": {
         "count": 0,
         "items": [
            {
               "reasonName": "globalInteractionReason",
               "summary": "This spot is popular",
               "type": "general"
            }
         ]
      },
      "referralId": "e-0-557767bc498ea4a20c8043f6-4",
      "venue": {
         "categories": [
            {
               "icon": {
                  "prefix": "https://ss3.4sqi.net/img/categories_v2/food/cafe_",
                  "suffix": ".png"
               },
               "id": "4bf58dd8d48988d16d941735",
               "name": "Caf\u00e9",
               "pluralName": "Caf\u00e9s",
               "primary": true,
               "shortName": "Caf\u00e9"
            }
         ],
         "id": "557767bc498ea4a20c8043f6",
         "location": {
            "address": "6 Parkhome",
            "cc": "CA",
            "city": "North York",
            "country": "Canada",
            "distance": 255,
            "formattedAddress": [
               "6 Parkhome",
               "North York ON",
               "Canada"
            ],
            "labeledLatLngs": [
               {
                  "label": "display",
                  "lat": 43.76944882099181,
                  "lng": -79.41308107735675
               }
            ],
            "lat": 43.76944882099181,
            "lng": -79.41308107735675,
            "state": "ON"
         },
         "name": "Aroma Espresso Bar",
         "photos": {
            "count": 0,
            "groups": []
         }
      }
   },
   {
      "reasons": {
         "count": 0,
         "items": [
            {
               "reasonName": "globalInteractionReason",
               "summary": "This spot is popular",
               "type": "general"
            }
         ]
      },
      "referralId": "e-0-563d44fccd1044ad67a744fb-5",
      "venue": {
         "categories": [
            {
               "icon": {
                  "prefix": "https://ss3.4sqi.net/img/categories_v2/food/seafood_",
                  "suffix": ".png"
               },
               "id": "4bf58dd8d48988d1ce941735",
               "name": "Seafood Restaurant",
               "pluralName": "Seafood Restaurants",
               "primary": true,
               "shortName": "Seafood"
            }
         ],
         "id": "563d44fccd1044ad67a744fb",
         "location": {
            "address": "5313 Yonge St",
            "cc": "CA",
            "city": "Toronto",
            "country": "Canada",
            "distance": 474,
            "formattedAddress": [
               "5313 Yonge St",
               "Toronto ON M2N 5R4",
               "Canada"
            ],
            "labeledLatLngs": [
               {
                  "label": "display",
                  "lat": 43.773255217045026,
                  "lng": -79.41380541792645
               }
            ],
            "lat": 43.773255217045026,
            "lng": -79.41380541792645,
            "postalCode": "M2N 5R4",
            "state": "ON"
         },
         "name": "The Captain's Boil",
         "photos": {
            "count": 0,
            "groups": []
         }
      }
   },
   {
      "reasons": {
         "count": 0,
         "items": [
            {
               "reasonName": "globalInteractionReason",
               "summary": "This spot is popular",
               "type": "general"
            }
         ]
      },
      "referralId": "e-0-4aedfeadf964a52005d121e3-6",
      "venue": {
         "categories": [
            {
               "icon": {
                  "prefix": "https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_",
                  "suffix": ".png"
               },
               "id": "4bf58dd8d48988d1e0931735",
               "name": "Coffee Shop",
               "pluralName": "Coffee Shops",
               "primary": true,
               "shortName": "Coffee Shop"
            }
         ],
         "id": "4aedfeadf964a52005d121e3",
         "location": {
            "address": "5140 Yonge St",
            "cc": "CA",
            "city": "Toronto",
            "country": "Canada",
            "crossStreet": "at Park Home Ave",
            "distance": 305,
            "formattedAddress": [
               "5140 Yonge St (at Park Home Ave)",
               "Toronto ON M2N 6L7",
               "Canada"
            ],
            "labeledLatLngs": [
               {
                  "label": "display",
                  "lat": 43.768353,
                  "lng": -79.413046
               }
            ],
            "lat": 43.768353,
            "lng": -79.413046,
            "postalCode": "M2N 6L7",
            "state": "ON"
         },
         "name": "Starbucks",
         "photos": {
            "count": 0,
            "groups": []
         }
      }
   },
   {
      "reasons": {
         "count": 0,
         "items": [
            {
               "reasonName": "globalInteractionReason",
               "summary": "This spot is popular",
               "type": "general"
            }
         ]
      },
      "referralId": "e-0-5077025ce4b05aefca37d9f9-7",
      "venue": {
         "categories": [
            {
               "icon": {
                  "prefix": "https://ss3.4sqi.net/img/categories_v2/food/japanese_",
                  "suffix": ".png"
               },
               "id": "4bf58dd8d48988d111941735",
               "name": "Japanese Restaurant",
               "pluralName": "Japanese Restaurants",
               "primary": true,
               "shortName": "Japanese"
            }
         ],
         "id": "5077025ce4b05aefca37d9f9",
         "location": {
            "address": "5213 Yonge Street",
            "cc": "CA",
            "city": "North York",
            "country": "Canada",
            "distance": 267,
            "formattedAddress": [
               "5213 Yonge Street",
               "North York ON",
               "Canada"
            ],
            "labeledLatLngs": [
               {
                  "label": "display",
                  "lat": 43.77080606720809,
                  "lng": -79.41313811956255
               }
            ],
            "lat": 43.77080606720809,
            "lng": -79.41313811956255,
            "state": "ON"
         },
         "name": "Wako Sushi + Bar",
         "photos": {
            "count": 0,
            "groups": []
         }
      }
   },
   {
      "reasons": {
         "count": 0,
         "items": [
            {
               "reasonName": "globalInteractionReason",
               "summary": "This spot is popular",
               "type": "general"
            }
         ]
      },
      "referralId": "e-0-57f92db0498ee70159702002-8",
      "venue": {
         "categories": [
            {
               "icon": {
                  "prefix": "https://ss3.4sqi.net/img/categories_v2/food/indonesian_",
                  "suffix": ".png"
               },
               "id": "4deefc054765f83613cdba6f",
               "name": "Indonesian Restaurant",
               "pluralName": "Indonesian Restaurants",
               "primary": true,
               "shortName": "Indonesian"
            }
         ],
         "id": "57f92db0498ee70159702002",
         "location": {
            "address": "5025 Yonge St",
            "cc": "CA",
            "city": "North York",
            "country": "Canada",
            "crossStreet": "at Elmwood Ave",
            "distance": 405,
            "formattedAddress": [
               "5025 Yonge St (at Elmwood Ave)",
               "North York ON M2N 5P2",
               "Canada"
            ],
            "labeledLatLngs": [
               {
                  "label": "display",
                  "lat": 43.76669,
                  "lng": -79.4121
               }
            ],
            "lat": 43.76669,
            "lng": -79.4121,
            "postalCode": "M2N 5P2",
            "state": "ON"
         },
         "name": "Satay Sate",
         "photos": {
            "count": 0,
            "groups": []
         }
      }
   },
   {
      "reasons": {
         "count": 0,
         "items": [
            {
               "reasonName": "globalInteractionReason",
               "summary": "This spot is popular",
               "type": "general"
            }
         ]
      },
      "referralId": "e-0-5a46b1016e4650136e1dc52b-9",
      "venue": {
         "categories": [
            {
               "icon": {
                  "prefix": "https://ss3.4sqi.net/img/categories_v2/food/cafe_",
                  "suffix": ".png"
               },
               "id": "4bf58dd8d48988d16d941735",
               "name": "Caf\u00e9",
               "pluralName": "Caf\u00e9s",
               "primary": true,
               "shortName": "Caf\u00e9"
            }
         ],
         "id": "5a46b1016e4650136e1dc52b",
         "location": {
            "address": "5051 Yonge St",
            "cc": "CA",
            "city": "Toronto",
            "country": "Canada",
            "distance": 380,
            "formattedAddress": [
               "5051 Yonge St",
               "Toronto ON M2N 5P2",
               "Canada"
            ],
            "labeledLatLngs": [
               {
                  "label": "display",
                  "lat": 43.76697902009232,
                  "lng": -79.41220491675689
               }
            ],
            "lat": 43.76697902009232,
            "lng": -79.41220491675689,
            "neighborhood": "Willowdale",
            "postalCode": "M2N 5P2",
            "state": "ON"
         },
         "name": "Saryo",
         "photos": {
            "count": 0,
            "groups": []
         }
      }
   },
   {
      "reasons": {
         "count": 0,
         "items": [
            {
               "reasonName": "globalInteractionReason",
               "summary": "This spot is popular",
               "type": "general"
            }
         ]
      },
      "referralId": "e-0-5a0c5ec8fdb9a7258ac7f16d-10",
      "venue": {
         "categories": [
            {
               "icon": {
                  "prefix": "https://ss3.4sqi.net/img/categories_v2/shops/pet_store_",
                  "suffix": ".png"
               },
               "id": "4bf58dd8d48988d100951735",
               "name": "Pet Store",
               "pluralName": "Pet Stores",
               "primary": true,
               "shortName": "Pet Store"
            }
         ],
         "id": "5a0c5ec8fdb9a7258ac7f16d",
         "location": {
            "address": "Empress Walk",
            "cc": "CA",
            "city": "Toronto",
            "country": "Canada",
            "crossStreet": "Empress Avenue",
            "distance": 224,
            "formattedAddress": [
               "Empress Walk (Empress Avenue)",
               "Toronto ON M2N 5N9",
               "Canada"
            ],
            "labeledLatLngs": [
               {
                  "label": "display",
                  "lat": 43.769139,
                  "lng": -79.412522
               }
            ],
            "lat": 43.769139,
            "lng": -79.412522,
            "postalCode": "M2N 5N9",
            "state": "ON"
         },
         "name": "PetSmart",
         "photos": {
            "count": 0,
            "groups": []
         }
      }
   },
   {
      "reasons": {
         "count": 0,
         "items": [
            {
               "reasonName": "globalInteractionReason",
               "summary": "This spot is popular",
               "type": "general"
            }
         ]
      },
      "referralId": "e-0-50001583e4b090a9fbe160d6-11",
      "venue": {
         "categories": [
            {
               "icon": {
                  "prefix": "https://ss3.4sqi.net/img/categories_v2/shops/artstore_",
                  "suffix": ".png"
               },
               "id": "4bf58dd8d48988d127951735",
               "name": "Arts & Crafts Store",
               "pluralName": "Arts & Crafts Stores",
               "primary": true,
               "shortName": "Arts & Crafts"
            }
         ],
         "id": "50001583e4b090a9fbe160d6",
         "location": {
            "address": "5051 Yonge St",
            "cc": "CA",
            "city": "Toronto",
            "country": "Canada",
            "crossStreet": "at Hillcrest Ave.",
            "distance": 345,
            "formattedAddress": [
               "5051 Yonge St (at Hillcrest Ave.)",
               "Toronto ON M2N 5P2",
               "Canada"
            ],
            "labeledLatLngs": [
               {
                  "label": "display",
                  "lat": 43.76724487394571,
                  "lng": -79.41197372883607
               }
            ],
            "lat": 43.76724487394571,
            "lng": -79.41197372883607,
            "postalCode": "M2N 5P2",
            "state": "ON"
         },
         "name": "Michaels",
         "photos": {
            "count": 0,
            "groups": []
         }
      }
   },
   {
      "reasons": {
         "count": 0,
         "items": [
            {

In [31]:
# print info about all the returned venues and what the type of venue
for venue in venues:
    v = venue['venue']
    print(v['name'] + ': ' + v['categories'][0]['name'])

Loblaws: Grocery Store
Konjiki Ramen: Ramen Restaurant
Cineplex Cinemas Empress Walk: Movie Theater
The Keg: Steakhouse
Aroma Espresso Bar: Café
The Captain's Boil: Seafood Restaurant
Starbucks: Coffee Shop
Wako Sushi + Bar: Japanese Restaurant
Satay Sate: Indonesian Restaurant
Saryo: Café
PetSmart: Pet Store
Michaels: Arts & Crafts Store
Empress Walk: Shopping Mall
KINTON RAMEN: Ramen Restaurant
Booster Juice: Juice Bar
Starbucks: Coffee Shop
Burrito Boyz: Burrito Place
Wendy's: Fast Food Restaurant
Mel Lastman Square: Plaza
St. Louis Bar & Grill: Sports Bar
Symposium Cafe Restaurant & Lounge: Restaurant
Dakgogi: Korean Restaurant
Pho 88 Vietnamese Cuisine: Vietnamese Restaurant
Aura: Lounge
Ajisen Ramen 味千ラーメン: Ramen Restaurant
Owl of Minerva: Korean Restaurant
Aburi Room: Sushi Restaurant
Dairy Queen (Treat): Ice Cream Shop
Subway: Sandwich Place
Dollarama: Discount Store
Best Buy: Electronics Store
Douglas Snow Aquatic Centre: Pool
Baton Rouge: American Restaurant
Hakata Shoryuken Ramen: Ramen Restaurant
Ten Ren's Tea Time 喫茶新饌: Bubble Tea Shop
Boston Pizza: Pizza Place
Shawarma Max: Middle Eastern Restaurant
Subway: Sandwich Place
L'opera Patisserie et Cafe: Dessert Shop
Freshslice Pizza: Pizza Place
Second Cup: Coffee Shop
Mezza Notte Trattoria: Italian Restaurant
Ichiban Sushi House: Sushi Restaurant
Novotel Toronto North York: Hotel
Gibson Park: Park

In [48]:
# define function to get the vendor info and process the data
def get_vendor_info(latitude, longitude, postcode, client_id, client_secret, radius=500, limit=100, version='20191115'):
    '''
    Takes the coordinates of a postcode and gets foursquare reccomendations for those coordinates. 
    
    Returns a list of dictionairies containing the name, category, and postcode for each returned venue
    '''
    # build url
    base_uri = 'https://api.foursquare.com/v2/venues/explore'
    ll = f'{latitude},{longitude}'
    url = f'{base_uri}?client_id={client_id}&client_secret={client_secret}&v={version}&ll={ll}&radius={radius}&limit={limit}'
    
    # make api request
    response = requests.get(url)
    r = response.json() # convert response to json
    
    # get the list of venues under the 'items' key
    venues = r['response']['groups'][0]['items']